#root,
html,
body {
  height: 100vh;
}
body {
  margin: 0;
  background-color: whitesmoke;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.header{
  text-align:center;
  text-transform:uppercase;
  font-family:cursive;
  font-size:30px;
}
